@{
  ViewBag.Title = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Sustav za poljoprivredna gospodarstva</h1>
      <form>
        <div class="form-group row">
          <label class="col-2"><i class="fa fa-user"></i></label>
          <input type="email" class="form-control col-10" placeholder="Enter email"/>
        </div>
        <div class="form-group row">
          <label class="col-2"><i class="fa fa-star"></i></label>
          <input type="password" class="form-control col-10" placeholder="Enter password"/>
        </div> 
      </form>
    </div>
  </div>
</div>