@{
    ViewBag.Title = "Sadnja";
}


<div class="row flex-center">
    <div class="col-12 col-lg-6 row flex-center flex-column">
        <img src="../../logo2.png" alt="Sustav za poljoprivredna gospodarstva">
        <form class="pi-form my-4 col-10 col-lg-6">
            <div class="form-group row my-3">
                <input type="text" class="form-control col-10" placeholder="Unesite naziv biljke"/>
            </div>
            <div class="form-group row my-3">
                <input type="text" class="form-control col-10" placeholder="Unesite datum sadnje"/>
            </div>
            <div class="form-group row my-3">
                <input type="text" class="form-control col-10" placeholder="Unesite količinu"/>
            </div>
            <div class="form-group row my-3">
                <input type="text" class="form-control col-10" placeholder="Unesite troškove sadnje"/>
            </div>
            <div class="form-group row my-3">
                <select class="form-control col-10">
                    <option hidden >Odaberite id oranice</option>
                </select>
            </div>
            <div class="form-group row my-3">
                <select class="form-control col-10">
                    <option hidden >Odaberite sezonu</option>
                </select>
            </div>
            <button type="submit" class="my-3">Spremi sadnju</button>
        </form>
    </div>
</div>