@{
    ViewBag.Title = "title";
    
}


<div class="row flex-center">
    <div class="col-12 col-lg-6 row flex-center flex-column">
        <h3 class="text-center">Sustav za poljoprivredna gospodarstva</h3>
        <form class="pi-form my-4 col-10 col-lg-6">
            <div class="form-group row my-3">
                <input type="text" class="form-control col-12" placeholder="Unesite naziv lokacija"/>
            </div>
            <div class="form-group row my-3">
                <input type="text" class="form-control col-12" placeholder="Unesite naziv koordinate"/>
            </div>
            <div class="form-group row my-3">
                <input type="text" class="form-control col-12" placeholder="Unesite naziv dimenzije"/>
            </div>
            <div class="form-group row my-3">
                <label class="col-2 flex-center"></i></label>
                <select class="form-control col-10">
                    <option hidden >Odaberite korisnika</option>
                </select>
            </div>
            <div class="form-group row my-3">
                <label class="col-2 flex-center"></label>
                <select class="form-control col-10">
                    <option hidden >Odaberite grada</option>
                </select>
            </div>
            <button type="submit" class="my-3">Spremi parcelu</button>
        </form>
    </div>
</div>